.product-list{
    margin: 16px 0;
    padding: 0px 2%;
}
#toCartBox:checked ~ .ovelayCart{
    display: block;
}
#toCartBox:checked ~ .toCart-Container{
    display: block;
}
.ovelayCart{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    z-index: 10;
    opacity: 0.1;
}
.toCart-Container{
    display: none;
    position: fixed;
    top: 35%;
    bottom: 35%;
    left: 40%;
    right: 40%;
    background-color: #FFFFFF;
    z-index: 11;
    text-align: center;
    padding: 20px 10px;
    font-family: 'Raleway', sans-serif;
}
.toCarttitle{
    font-size: 20px;
    color: #2D994D;
    font-weight: bold;
}
.toCart-link{
    display: block;
    width: 80%;
    margin: 32px auto;
    background-color: black;
    padding: 10px 20px;
    color: white;
}
.toCartBtn{
    text-decoration: underline;
}
.toCartBtn:hover{
    cursor: pointer;
}
/* Mobile Tablet */
@media (max-width: 1023px) {
    .toCart-Container{
        position: fixed;
        top: 35%;
        bottom: 35%;
        left: 10%;
        right: 10%;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}

/* Mobile */
@media (max-width: 739px) {
    
}